<% @my_date %>
<% self.get_time %>
<% @players_left = [] %>
<% @contestants = [] %>
<% @selection_holder = [] %>
<% @needs_grading = false %>
<% @this_pools_groups = [] %>
<% @recalled = [] %>
<% @pool_players = [] %>
<% @pool_standings = [] %>
<% @off_stand = [] %>
<% @sorted_standings %>

<% self.get_pool_players %>
<% self.get_all_selections %>
<% self.get_pool_standings(@pool_standings) %>

<% @off_stand.each do |st| %>

	<% if st.class == Hash %>

		<div class="player_standings"><%= st[:name].to_s + " " + st[:picks].to_s %></div>

	<% end %>



<% end %>






















