


<% @leagues.each do |l| %>

	<% if l.status == "public" %>

		<div><%= link_to l.league_name, league_path(l.id), class: 'link_tabs'  %></div>

	<% end %>

<% end %>

<div>PRIVATE LEAGUE PASSWORD</div>

<%= form_for @secret do |s| %>

	<%= s.text_field :pass %>
	<%= s.submit %>

<% end %>









