<div class="hide">
	
	<%= form_for @secret do |s| %>

		<%= s.text_field :pass %>
		<%= s.submit %>

	<% end %>

</div>


	<div id="info_wrapper">

		<div id="index_label">LEAGUE PLAY</div>
		
		<p>
			
			TO JOIN A PUBLIC LEAGUE, CLICK ON THE LEAGUE NAME BELOW.  TO JOIN A PRIVATE LEAGUE, ENTER THE PASSWORD TO THE LEAGUE YOU WISH TO JOIN.


		</p>


	</div>

	<div id="priv_wrapper">
		
		<div id="priv_pass_label">PRIVATE LEAGUE PASSWORD</div>


		<div id="priv_pass"><input type="text" name="private_pass" id="private_p"></div>
		<div id="priv_sub"><input type="submit" value="ENTER" id="pass_sub"></div>






	</div>


	<div id="pub_wrapper">
		
		<div id= "pub_label">PUBLIC LEAGUES</div>

		<div id= "public">
			<% @leagues.each do |l| %>

				<% if l.status == "public" %>

					<div class="pub_league_names"><%= link_to l.league_name, league_path(l.id), class: 'link_tabs'  %></div>

				<% end %>

			<% end %>

		</div>

	</div>














