
<div><%= @league.league_name %></div>

<% if @league.league_clients.count > 0 %>

	<div>SET YOUR LINEUP:</div>
	
	<% @league.league_clients.each do |c| %>

		<div><% link_to c.league_name, edit_client_path(c.id), class: 'link_tabs' %>


	<% end %>

	<div><% link_to "BOOK TOURNAMENT ACTION", new_league_wager_path, class: 'link_tabs' %></div>

<% else %>

	<%= link_to "ACQUIRE TOURNAMENT CLIENTS", new_league_client_path, class: 'link_tabs'  %>

	
	

<% end %>

