<% @current_client_br %>

<% if current_user %>

	<% if current_user.wagers %>

		<% current_user.clients.each do |c| %>

			<% @get_val = [] %>

			<div><%= c.first_name %>
				<%= c.last_name %></div>

			<% c.wagers.each do |w| %>

				<% if w.graded == true %>

					<% if w.net_result != 0 %>

						<% @get_val.push(w.net_result) %>

					<% end %>

				<% end %>


			<% end %>

			<div><% @current_client_br = @get_val.inject(0){|sum,x| sum + x } %></div>

			<div><%= @current_client_br %></div>

			<div><%= link_to "Client Stats", client_path(c.id), class: 'link_tabs'  %></div>


		<% end %>



	<% end %>

<% end %>




