<div id="game_master">

	<div id="game_heading">
		
		<p>GAME RULES</p>

	</div>

	<div id="rules_holder">

		<div class="game_cont">
		
			<div class="game_head">BOOKIE WARS</div>

			<div class="game_text">
				
				<p>Bookie Wars is a fantasy game that is played in league format.  Leagues have a start date and an end date.  Particpants in the league start with the same number of sports betting clients.  Each participant is in charge of setting or changing the attributes of their clients.  All clients have three different type settings, three frequency settings, eight settings for sport, and three settings for stakes.  Settings can be changed daily.  Once their roster is set, entrants will book the daily action of their client list and a tally on profit is kept for each entrant.  The entrant with the post profit at the end of the league wins.</p>

				<p>Type Settings</p>

				<p>1. Straight</p>
				<p>2. Exotic</p>
				<p>3. All</p>


			</div>

		</div>

		<div class="game_cont">
		
			<div class="game_head">FANISIDE POOLS</div>

		</div>

		<div class="game_text">
				
				<p></p>


			</div>






	</div>









</div>