<% @secrets_cont = [] %>

<% self.get_leagues %>

<%= link_to "PLAY BOOKIE WARS", leagues_path %>
<%= link_to "PLAY FANISIDE POOLS", pools_path %>

<% League.all.each do |l| %>

	<% @secrets_cont.each do |s| %>

		<% if l.pass == s %>

			<div><%= link_to l.league_name, league_path(l.id) %></div>

		<% end %>


	<% end %>

<% end %>

<div>
	

	<% Pool.all.each do |p| %>

		<% @secrets_cont.each do |s| %>

			<% if p.pass == s %>

				<div><%= link_to p.pool_name, pool_path(p.id) %></div>

			<% end %>


		<% end %>

	<% end %>


</div>



