<% @id_holder = [] %>

<% self.get_leagues %>

<div>PUBLIC LEAGUES</div>

<% @id_holder.each do |id| %>

	<% League.all.each do |l| %>

		<% if id.to_i == l.id.to_i && l.status == "public" %>

			<div><%= l.league_name %></div>
			<div><%= link_to "LEAGUE HOME", league_path(l.id) %></div>

		<% end %>


	<% end %>


<% end %>

<br>

PRIVATE LEAGUES

<% @id_holder.each do |id| %>

	<% League.all.each do |l| %>

		<% if id.to_i == l.id.to_i && l.status == "private" %>

			<div><%= l.league_name %></div>
			<div><%= link_to "LEAGUE HOME", league_path(l.id) %></div>

		<% end %>


	<% end %>


<% end %>