// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#client_intro{

	height: 300px;
	width: 800px;
	margin-left: 400px;
	margin-top: -350px;
	font-size: 25px;
	overflow: none;
}

#client_name{

	height: 100px;
	width: 400px;
	text-align: center;
	font-size: 45px;
	margin-left: 200px;
	font-size: 45px;

}

#pageLabel{

	height: 40px;
	width: 300px;
	margin: auto;
	margin-top: 50px;
	font-size: 30px;


}

#wordBank{

	height: 350px;
	width: 190px;
	margin-top: 0px;
	text-align: center;
	font-size: 25px;
	overflow: none;
	display: block;
}

#label{

	height: 30px;
	width: 190px;
	margin-top: 50px;
	font-size: 25px;

}

#message{

	height: 50px;
	width: 200px;
	margin-top: 5px;
	margin-bottom: 5px;

}

.wager_data{

	height: 100px;
	width: 288px;
	border: 1px solid red;
	margin-top: 5px;
	font-size: 20px;

}

#client_index_heading {

	height: 75px;
	width: 325px;
	border: 1px solid red;
	margin: auto;
	margin-top: 15px;
	font-size: 25px;


}

.client_index_profit {

	height: 70px;
	width: 200px;
	border: 1px solid red;
	margin: auto;
	font-size: 22px;


}

.client_list{

	height: 75px;
	width: 200px;
	border: 1px solid red;
	text-align: center;
	font-size: 22px;

}

#client_list_heading{

	font-size: 22px;
	margin-left: 33px;



}

.client_index_stats{

	height: 100px;
	width: 240px;
	border: 1px solid red;
	font-size: 22px;
	margin: auto;
	margin-top: -940px
}

#data_cont{

	margin-left: 580px;
}
