// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#client_intro{

	height: 300px;
	width: 800px;
	margin-left: 400px;
	margin-top: -350px;
	font-size: 25px;
	overflow: none;
}

#client_name{

	height: 100px;
	width: 400px;
	text-align: center;
	font-size: 45px;
	margin-left: 500px;
	font-size: 45px;
	margin-top: 20px;

}

#pageLabel{

	height: 40px;
	width: 300px;
	margin: auto;
	margin-top: 50px;
	font-size: 30px;


}

#wordBank{

	height: 620px;
	width: 190px;
	margin-top: 0px;
	text-align: center;
	font-size: 25px;
	border: 1px solid red;
	overflow: none;
	display: block;
}

#label{

	height: 30px;
	width: 190px;
	margin-top: 50px;
	font-size: 25px;

}

#message{

	height: 50px;
	width: 200px;
	margin-top: 5px;
	margin-bottom: 5px;

}

.wager_data{

	height: 100px;
	width: 288px;
	border: 1px solid red;
	margin-top: 10px;
	font-size: 20px;
	

}

#client_index_heading {

	height: 75px;
	width: 425px;
	border: 1px solid red;
	margin: auto;
	margin-top: 15px;
	font-size: 30px;


}

.client_index_profit {

	height: 70px;
	width: 200px;
	border: 1px solid red;
	margin-left: 580px;
	font-size: 28px;


}

.client_list{

	height: 75px;
	width: 200px;
	border: 1px solid red;
	text-align: center;
	font-size: 22px;

}

#client_list_heading{

	font-size: 22px;
	margin-left: 33px;
	margin-top: -1200px;



}

.client_index_stats{

	height: 120px;
	width: 280px;
	border: 1px solid red;
	font-size: 22px;
	margin: auto;
	margin-top: 0px;
	margin-left: 580px;

}

#data_cont{

	
}

#info_heading{

	height: 1000px;
	width: 270px;
	border: 1px solid red;
	font-size: 26px;
	margin-left: 580px;
}

#client_info{

	height: 100px;
	width: 190px;
	border: 1px solid red;
	font-size: 22px;
	margin-left: 33px;

}

#stat_container{


}

#client_figure{

	height: 50px;
	width: 300px;
	font-size: 30px;
	margin-left: 600px;


}

.client_show_info{

	height: 40px;
	width: 280px;
	font-size: 22px;
	margin-left: 600px;
}

.word_cont{

	height: 60px;
	width: 190px;
	border: 1px solid red;
	font-size: 27px;
}
