// Place all the styles related to the leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#league_create_cont{

	height: 200px;
	width: 400px;
	margin: auto;
	margin-top: 5px;	

}

.league_fields{

	height: 40px;
	width: 350px;
	margin-bottom: 20px;
	font-size: 25px;
	text-align: right;
	
}

#create_label{

	margin: auto;
	height: 40px;
	width: 250px;
	font-size: 30px;
	margin-top: 100px;
}

#sub_btn{

	margin-left: 130px;
}

#roster_cont{

	height: 100%;
	width: 32.74%;
	border: 1px solid red;
	vertical-align: top;
	display: inline-block;
	
}

.roster_info{

	height: 20px;
	width: 130px;
	text-align: left;
	
}

.rost_cont{

	height: 138px;
	width: 150px;
	border: 1px solid red;
	display: inline-block;
}

#lg_nm{

	margin-left: 30px;
	font-size: 20px;
	margin-bottom: 5px;

}


#public{

	height: 100%;
	width: 100%;
	
}

.pub_league_names{

	height: 30%;
	width: 45%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	overflow: none;
	margin-top: 10px;
	font-size: 20px;
}

#pub_wrapper{

	height: 100%;
	width: 50%;
	border: 1px solid black;
	margin-top: 10px;
	margin-left: 20%
}

#pub_label{

	margin-left: 33%;
	font-size: 25px;
}

#priv_wrapper{

	height: 25%;
	width: 35%;
	margin-top: 10px;
	margin-left: 20%
	

}

#priv_pass_label{

	height: 20px;
	width: 100%;
	margin-bottom: 8px;

	font-size: 20px;
}

#info_wrapper{

	height: 20%;
	width: 45%;
	font-size: 20px;
	
	margin-left: 20%;

	margin-top: 25px;
}

#index_label{

	margin-left: 33%;
	font-size: 25px;
}

#standings_container{

	height: 100%;
	width: 15%;
	font-size: 18px;
	border: 1px solid red;
	vertical-align: top;
	display: inline-block;
	
	
}

.player_standings{

	height: 20px;
	width: 100%;

	margin-left: -15px;
}

#league_client_stats{

	// margin-left: 60%;

	height: 50%;
	width: 15%;
	border: 1px solid red;
	font-size: 20px;
	vertical-align: top;
	display: inline-block;
	
}

#league_show_cont{

	height: 100%;
	width: 100%;
	border: 1px solid red;
	margin: auto;
	text-align: center;
	
}



#league_heading{

	margin-left: 40%;
	margin-top: 25px;
}

#rost_head{

	margin-top: 25px;

	margin-left: 640px;
}

#link_holder{

	height: 30px;
	width: 600px;
	border: 1px solid red;
	margin: auto;
	text-align: center;
}

.links{

	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
}

.end_date{

	margin-top: 20px;
	margin-left: 110px;
}

#start_date{

	margin-top: 20px;
	margin-left: 110px;

}



