// Place all the styles related to the leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#league_create_cont{

	height: 200px;
	width: 400px;
	margin: auto;
	margin-top: 5px;	

}

.league_fields{

	height: 40px;
	width: 350px;
	margin-bottom: 20px;
	font-size: 25px;
	text-align: right;
	
}

#create_label{

	margin: auto;
	height: 40px;
	width: 250px;
	font-size: 30px;
	margin-top: 100px;
}

#sub_btn{

	margin-top: 10px;
	background: blue;
	color: white;
	
}

#roster_cont{

	height: 100%;
	width: 32.74%;
	vertical-align: top;
	display: inline-block;

	
}

.roster_info{

	height: 20px;
	width: 130px;
	text-align: left;
	
}

.rost_cont{

	height: 138px;
	width: 150px;
	border: 1px solid black;
	display: inline-block;
	color: red;
	background: white;
}

#lg_nm{

	margin-left: 30px;
	font-size: 20px;
	margin-bottom: 5px;
	color: black;

}


#public{

	height: 100%;
	width: 100%;
	
}

.pub_league_names{

	height: 30%;
	width: 45%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	overflow: none;
	margin-top: 10px;
	font-size: 20px;
}

#pub_wrapper{

	height: 100%;
	width: 50%;
	border: 1px solid black;
	margin-top: 10px;
	margin-left: 20%
}

#pub_label{

	margin-left: 33%;
	font-size: 25px;
}

#priv_wrapper{

	height: 25%;
	width: 35%;
	margin-top: 10px;
	margin-left: 20%
	

}

#priv_pass_label{

	height: 20px;
	width: 100%;
	margin-bottom: 8px;

	font-size: 20px;
}

#info_wrapper{

	height: 20%;
	width: 45%;
	font-size: 20px;
	
	margin-left: 20%;

	margin-top: 25px;
}

#index_label{

	margin-left: 33%;
	font-size: 25px;
}

#standings_container{

	height: 100%;
	width: 15%;
	font-size: 18px;
	border: 1px solid black;
	vertical-align: top;
	display: inline-block;
	background: green;
	color: white;
	margin-top: 18px;
	margin-right: 0px;
	
	
}

.player_standings{

	height: 20px;
	width: 100%;

	margin-left: -15px;
}

#league_client_stats{

	// margin-left: 60%;

	height: 50%;
	width: 15%;
	border: 1px solid black;
	font-size: 20px;
	vertical-align: top;
	display: inline-block;
	margin-top: 18px;
	background: CornflowerBlue;
	color: white;
	
}

#league_show_cont{

	height: 100%;
	width: 100%;
	
	text-align: center;
	margin-top: 30px;
	
	
}



#league_heading{

	margin-left: 40%;
	margin-top: 25px;
}

#rost_head{

	margin-top: 25px;

	margin-left: 640px;
}

#link_holder{

	height: 100%;
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.links{

	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
}

.end_date{

	margin-top: 20px;
	text-align: center;
	
}

#start_date{

	margin-top: 20px;
	text-align: center;

}

#league_heading{

	font-size: 25px;
	height: 100%;
	width: 100%;
	text-align: center;
	margin-left: 0%;

}

#lg_st{

	color: green;

}

#lg_bet{

	color: blue;

}

#lg_qu{

	color: slateBlue;

}

#lg_sp{

	

}

.roster_links{

	font-size: 14px;
	margin-top: 5px;
}

.month_cont{

	height: 10%;
	width: 100%;
	
	text-align: center;


}

.day_cont{

	height: 10%;
	width: 100%;
	border: 1px solid black;
	text-align: center;


}

.all_months{

	display: inline-block;
	
	color: blue;

	font-size: 18px;

	margin-bottom: 10px;

	margin-right: 7px;
}

.all_days{

	display: inline-block;
	
	color: blue;

	font-size: 20px;

	margin-bottom: 10px;

	margin-right: 7px;

.all_years{

	display: inline-block;
	
	color: blue;

	font-size: 20px;

	margin-right: 7px;



}

	


}

.eall_months{

	display: inline-block;
	
	color: blue;

	font-size: 18px;

	margin-right: 7px;
}

.eall_days{

	display: inline-block;

	font-size: 20px;

	margin-bottom: 10px;

	margin-right: 7px;

	


}

.eall_years{

	display: inline-block;
	font-size: 19px;

}

.top_fields{

	text-align: left;

	margin-top: 5px;


}

.all_options{

	display: inline-block;
	margin-right: 3%;
}

#league_index_cont{

	height: 100%;
	width: 100%;	
	margin-top: 20px;
}

#league_create_cont{

	display: inline-block;
	height: 100%;
	width: 40%;
	border: 1px solid black;
	vertical-align: top;
	background: black;
	color: red;
}

#league_rules{

	height: 100%;
	width: 40%;
	display: inline-block;
	font-size: 20px;

	
}







