// Place all the styles related to the leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#league_create_cont{

	height: 200px;
	width: 400px;
	margin: auto;
	margin-top: 5px;	

}

.league_fields{

	height: 40px;
	width: 350px;
	margin-bottom: 20px;
	font-size: 25px;
	text-align: right;
	
}

#create_label{

	margin: auto;
	height: 40px;
	width: 250px;
	font-size: 30px;
	margin-top: 100px;
}

#sub_btn{

	margin-left: 130px;
}

#roster_cont{

	height: 38%;
	width: 32.74%;
	
}

.roster_info{

	height: 20px;
	width: 130px;
	
}

.rost_cont{

	height: 138px;
	width: 150px;
	border: 1px solid red;
	display: inline-block;
}

#lg_nm{

	margin-left: 30px;
	font-size: 20px;
	margin-bottom: 5px;

}

#standings{

	height: 100%;
	width: 32.74%;
	margin-left: 33%;
	margin-top: -420px;
	border: 1px solid red;

}


