// Place all the styles related to the league_wagers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#league_action{

	height: 100%;
	width: 100%;
	
}

#player_action{

	height: 100%;
	width: 100%;
	display: inline-block;
	
}

#league_bets{

	height: 70px;
	width: 150px;
	display: inline-block;
	
}

#league_action_heading{

	height: 40px;
	width: 80px;
	font-size: 25px;
	
	margin: auto;
	margin-top: 25px;
}

#master_cont{

	height: 100%;
	width: 85%;
	
	margin: auto;
	text-align: center;
	margin-top: 5px;
}

.action_cont{

	height: 100%;
	width: 0px;
	display: inline-block;
	vertical-align: top;
	
	

}

.name_label{

	font-size: 23px;
}


#whales_cont{

	text-align: left;
}

#small_timers_cont{

	text-align: left;
}

#pay_dump_cont{

	text-align: left;
}

.name_label{

	text-align: center;
}

.cl_league_name{

	font-size: 21px;
	text-align: center;
}

.bet_des{

	font-size: 20px;
	margin-left: 50px;
}

.act_wrapper{

	margin-left: 50px;
}