// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#players_cont{

	height: 100%;
	width: 100%;
	margin-left: 10%;
}

.sport{

	display: inline-block;
	margin-right: 9%;
	margin-top: 3%;
	vertical-align: top;
}