// Place all the styles related to the pools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pool_index_head{

	height: 20%;
	width: 20%;
	text-align: left;
	font-size: 25px;
	margin: auto;
	margin-top: 20px;


}

#pools_index_cont{

	height: 100%;
	width: 100%;
	
	margin-top: 20px;

}

#pool_create_cont{

	display: inline-block;
	height: 100%;
	width: 45%;
	border: 1px solid black;
	vertical-align: top;
	margin-left: 100px;
	background: black;
	color: white;



}

#fan_rules{

	height: 100%;
	width: 45%;
	display: inline-block;
	font-size: 20px;
}

#pass_index{

	height: 50%;
	width: 100%;
	
	margin-top: 30px;
	font-size: 20px;
}

.pool_fields{

	height: 20%;
	width: 500px;
	text-align: left;
	font-size: 20px;
	margin-top: 10px;
	border: 1px solid red;


}

#sub_btn2{

	margin-left: 150px;
	margin-top: 20px;
	height: 100px;
	width: 100px;

}

#create_pool_label{

	height: 100%;
	width: 100%;
	font-size: 22px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
}

.group{

	height: 100px;
	width: 20%;
	border: 1px solid red;
	font-size: 25px;
}



#data_display{

	height: 100%;

	width: 100%;

	border: 1px solid red;


}

#main_cont_pool{

	height: 100%;
	width: 100%;
	border: 1px solid red;
	margin-top: 50px;

}

#pool_standings{

	height: 100%;
	width: 30%;
	border: 1px solid red;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;


}

#group_display{

	height: 100%;
	width: 30%;
	border: 1px solid red;
	display: inline-block;
	vertical-align: top;
	font-size: 25px;
	margin-right: 20px;


}

#pool_info{

	height: 100%;
	width: 30%;
	border: 1px solid red;
	display: inline-block;
	vertical-align: top;
	font-size: 20px;
	margin-right: 20px;


}

.player_standings{

	height: 15%;

	width: 100%;


	margin-left: 0%;

	font-size: 25px;

}

.players_name{

	margin-bottom: 8px;
}

#commish_tools{

	height: 100px;
	width: 200px;
	font-size: 25px;
	margin: auto;
	border: 1px solid red;
	margin-top: 50px;
}

.results_pick{

	display: inline-block;
	
	margin-right: 51px;
	font-size: 16px;
}


