// Place all the styles related to the wagers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#wager_info{

	height: 300px;
	width: 300px;
	border: 1px solid red;
	margin-top: 100px;
	margin-left: 500px;
	font-size: 30px;

}

#buttons{

	height: 30px;
	width: 170px;
	
	text-align: center;
}

.buttonStyle{

	height: 150px;
	width: 80px;
	font-size: 65px;
}

