// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#action{

	height: 100px;
	width: 200px;
	border: 1px solid red;
	
	
}

.names{

	display: inline-block;
	margin-bottom: 100px;
	margin-top: 5px;
	display: inline-block;
}

.name_font{

	font-size: 25px;
	height: 40px;
	width: 250px;
	display: inline-block;

}

#grade_wager{

	height: 50px;
	width: 200px;
	border: 1px solid red;
	font-size: 20px;
}

.open_action{

	height: 175px;
	width: 140px;
	border: 1px solid red;
}

#amount_type{

	height: 30px;
	width: 210px;
	
	font-size: 20px;
}

#pending_action{

	height: 50px;
	width: 400px;
	margin: auto;
	font-size: 30px;
	margin-top: 5px;

}

#book_heading{

	height: 40px;
	width: 500px;
	margin: auto;
	margin-top: 20px;
	font-size: 35px;
}

#page_wrapper{

	height: 900px;
	width: 100%;
	border: 1px solid red;
	overflow: none;
	display: inline-block;
}

#ungraded_wager{

	height: 100px;
	width: 200px;
	border: 1px solid red;
	display: inline-block;

}