// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#action{

	height: 100px;
	width: 200px;
	border: 1px solid red;
	
	
}

.names{

	display: inline-block;
	margin-bottom: 100px;
	margin-top: 5px;
	display: inline-block;
}

.name_font{

	font-size: 25px;
	height: 40px;
	width: 250px;
	display: inline-block;

}

#grade_wager{

	height: 50px;
	width: 200px;
	border: 1px solid red;
	font-size: 20px;
}

.open_action{

	height: 175px;
	width: 140px;
	border: 1px solid red;
}

#amount_type{

	height: 30px;
	width: 210px;
	
	font-size: 20px;
}

#pending_action{

	height: 50px;
	width: 400px;
	margin: auto;
	font-size: 30px;
	margin-top: 5px;

}

#book_heading{

	height: 40px;
	width: 500px;
	margin: auto;
	margin-top: 20px;
	font-size: 35px;
}

#page_wrapper{

	height: 900px;
	width: 100%;
	border: 1px solid red;
	overflow: none;
	display: inline-block;
}

#ungraded_wager{

	height: 100px;
	width: 200px;
	border: 1px solid red;
	display: inline-block;

}

.action_cont{

	height: 100%;
	width: 300px;
	display: inline-block;
}

#action_heading{

	height: 50px;
	width: 100%;
	margin-top: 50px;
	text-align: center;
	margin-left: 50px;
}

.action_label{

	height: 50px;
	width: 200px;
	font-size: 23px;
	display: inline-block;
	margin-right: 272px;

}

#master_cont{

	height: 100%;
	width: 100%;
}

#small_time{

	height: 100%;
	width: 300px;
	display: inline-block;
	margin-left: 85px;
	margin-top: -4px;


}

#pay_dump{

	height: 10%;
	width: 300px;
	display: inline-block;
	margin-left: 150px;	
	vertical-align: top;


}



#whale{

	height: 100%;
	width: 300px;
	display: inline-block;
	margin-left: 200px;
	vertical-align: top;

}

#master{

	height: 425px;
	width: 100%;
	border: 1px solid red;
	margin-top: 60px;
}

.inner{

	height: 100%;
	width: 300px;
	border: 1px solid red;
	display: inline-block
}

#small_guys{

	color: blue;


}

#pay_guys{

	color: orange;

}

#whalers{

	color: green;

}

.type_cont{

	height: 100%;
	width: 24%;
	border: 1px solid red;
	display: inline-block;
	vertical-align: top;
}

.ty_label{

	height: 10%;
	width: 100%;
	border: 1px solid red;
	font-size: 25px;
	text-align: center;
	margin-bottom: 0px;
	vertical-align: bottom;

}

.booked{

	height: 8%;
	width: 80%;
	border: 1px solid red;
	font-size: 22px;


}

.wag_prof{

	height: 8%;
	width: 80%;
	border: 1px solid red;
	font-size: 22px;

}

.t_type{

	height: 20%;
	width: 100%;
	border: 1px solid red;
	font-size: 18px;


}

.t_booked{


}

.t_profit{


}

.p_type{


}

.p_booked{


}

.p_profit{


}

.r_type{


}

.r_booked{


}

.r_profit{

	
}